<div class="ab-content">
  <span class="ab-content-bg"></span>
  <div class="content-container">
    <div class="ab-content-core">
      <app-text-img-section [imgData]="imgData">
        Salut, je suis Mathis, un développeur front-end junior vivant et
        travaillant à Toulouse, en France. <br /><br />

        J'ai commencé à m'intéresser au code depuis le lycée et au cours de mes
        études j'ai aussi appris à apprécier le côté design du métier. Comme
        vous pouvez le voir, j'aime beaucoup faire des sites au design sobre,
        c'est pour moi plus intéressant de créer une belle page avec un nombre
        limité d'éléments. <br /><br />

        Cette simplicité se trouve aussi dans mon style de vie, je n'ai pas
        besoin de beaucoup pour être heureux au quotidien, just mon ordinateur,
        mes amis, mon chat et ma femme. <br /><br />

        Je me considère comme étant quelqu'un de pragmatique et de logique, ce
        qui m'a beaucoup aidé au fil de mon apprentissage de la programmation.
        Malgré tout, je reste quelqu'un de facilement abordable et je ferais
        toujours de mon mieux pour soit aider, soit apprendre des autres.
        <br /><br />

        Durant mon temps libre, j'essaie d'explorer de nouveau languages, outils
        ou logiciels que je n'ai pas encore découvert, j'adore cuisiner et
        découvrir des cultures au travers de leur gastronomie, et j'aime réduire
        mon espérence de vie en jouant à des jeux vidéos multijoueurs (c'est
        bien évidemment une blague, j'adore jouer avec mes amis pour me détendre
        !).
      </app-text-img-section>
      <div class="ab-content-core-techs">
        <h3 class="ab-content-core-techs-title">
          Que puis-je apporter en entreprise ?
        </h3>
        <p class="ab-content-core-techs-subtitle">
          Tout d'abord, je peux faire un super chili con carne (d'après ma
          femme), et autrement voici une liste des technologies que j'ai déjà
          exploré et celles que je suis entrain d'apprendre :
        </p>
        <div class="ab-content-core-techs-section">
          <div class="techs-section">
            <h4 class="techs-section-title">Frameworks</h4>
            <div class="techs-section-container">
              @for (tech of frameworks; track tech._id) {
              <div class="techs-section-container-img">
                <img
                  [src]="imageUrl(tech.icon).width(48).url()"
                  [alt]="tech.title + ' icon'"
                  class="techs-section-container-img-icon"
                />
                @if(tech.learning === true) {
                <span>*</span>
                }
              </div>
              }
            </div>
          </div>
          <div class="techs-section">
            <h4 class="techs-section-title">Langages</h4>
            <div class="techs-section-container">
              @for (tech of languages; track tech._id) {
              <div class="techs-section-container-img">
                <img
                  [src]="imageUrl(tech.icon).width(48).url()"
                  [alt]="tech.title + ' icon'"
                  class="techs-section-container-img-icon"
                />
                @if(tech.learning === true) {
                <span>*</span>
                }
              </div>
              }
            </div>
          </div>
          <div class="techs-section">
            <h4 class="techs-section-title">Logiciels</h4>
            <div class="techs-section-container">
              @for (tech of softwares; track tech._id) {
              <div class="techs-section-container-img">
                <img
                  [src]="imageUrl(tech.icon).width(48).url()"
                  [alt]="tech.title + ' icon'"
                  class="techs-section-container-img-icon"
                />
                @if(tech.learning === true) {
                <span>*</span>
                }
              </div>
              }
            </div>
          </div>
          <p class="techs-section-legend">
            Les icones marqués d'une astérisque* sont les technologies que je
            suis entrain d'apprendre ou que je compte apprendre sous peu
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
