<div class="lp-content">
  <span class="lp-content-bg"></span>
  <div class="content-container">
    <div class="lp-content-core">
      <h2 class="side-title">
        PROJETS <br />
        RECENTS
      </h2>
      <div class="projects-container">
        <app-lp-project-list></app-lp-project-list>
      </div>
    </div>
    <div class="lp-content-core">
      <h2 class="side-title">
        TRAVAILLONS <br />
        ENSEMBLE
      </h2>
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
