<div class="cp-content">
  <div class="content-container flex-container">
    <h1 class="cp-content-title">Travaillons ensemble</h1>
    <div class="cp-content-infos">
      <div class="cp-content-infos-details">
        <h2 class="cp-content-infos-details-title">
          Informations <br />de contact
        </h2>
        <div class="cp-content-infos-details-text">
          <div class="info">
            <p class="info-title">Téléphone</p>
            <p class="info-text">+33 6 26 55 05 45</p>
          </div>
          <div class="info">
            <p class="info-title">Email</p>
            <p class="info-text">mathis.vialle&#64;pm.me</p>
          </div>
          <div class="info">
            <p class="info-title">Localisation</p>
            <p class="info-text">
              31100 Toulouse, <br />
              France
            </p>
          </div>
        </div>
      </div>
      <app-contact-form></app-contact-form>
    </div>
    <span class="cp-content-bg"></span>
  </div>
</div>
