.nav-container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: flex-end;

  .fixed {
    top: 32px;
    position: fixed;
    z-index: 9999;
    background-color: rgba(30, 30, 30, 0.5);
    padding: 16px 26px;
    border-radius: 100px;
    backdrop-filter: blur(40px);
    box-shadow: 4px 8px 24px -1px rgba(0, 0, 0, 0.2);

    .navbar {
      display: flex;
      gap: 34px;

      .nav-item {
        font-family: 'Urbanist', sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: white;
      }
    }
  }
}
