<nav class="nav">
  <div class="nav-container">
    <a class="nav-item" routerLink="" routerLinkActive="active">HOME</a>
    @for (navItem of navItems; track navItem.id) {
    <a routerLink="{{ navItem.url }}" class="nav-item">
      {{ navItem.text | uppercase }}</a
    >
    }
    <!-- <div class="nav-item">
      <select name="localeSelect" id="locale" title="Locale selection">
        <option value="eng" [defaultSelected]="true">ENG</option>
        <option value="fr">FR</option>
      </select>
    </div> -->
  </div>
</nav>
