@if (project$ | async; as project) {
<app-title-screen
  [titleScreen]="{ title: project.title, subtitle: '' }"
></app-title-screen>
}
<div class="pf-content">
  <span class="pf-content-bg"></span>
  <div class="content-container">
    @if(project$ | async; as project) {
    <div class="pf-content-project">
      <div class="pf-content-project-core">
        <div class="pf-content-project-core-summary">
          <h3 class="pf-content-project-core-subtitle">Summary</h3>
          <p [innerHTML]="project.summary"></p>
        </div>
        <div class="pf-content-project-core-preview">
          <h3 class="pf-content-project-core-subtitle">Preview</h3>
          <div class="pf-content-project-core-preview-images">
            <img
              [src]="project.imgsUrl[selectedImg[project.id]]"
              [alt]="project.title + ' main image'"
              class="main-image"
            />
            <div class="pf-content-project-core-preview-images-small">
              @for (img of project.imgsUrl; track $index) {
              <img
                [src]="img"
                [alt]="project.title + ' image number ' + ($index + 1)"
                class="small-imgs"
                [ngClass]="
                  selectedImg[project.id] === $index ? 'small-img-active' : ''
                "
                (click)="getSelectedImage($index, project.id)"
              />
              }
            </div>
          </div>
        </div>
        <div class="pf-content-project-core-techs">
          <h3 class="pf-content-project-core-subtitle">Technologies used</h3>
          <div class="pf-content-project-core-techs-details">
            <div class="pf-content-project-core-techs-details-icons">
              @for (tech of project.techUsed; track tech.id) {
              <a
                (click)="getTechDetails(tech.id, project.id)"
                [ngClass]="
                  techDetails[project.id].name.toLowerCase() ===
                  tech.name.toLowerCase()
                    ? 'active'
                    : ''
                "
              >
                <img [src]="tech.icon" [alt]="tech.name" />
              </a>
              }
            </div>
            <p class="pf-content-project-core-techs-details-text">
              @if (techDetails[project.id].name !== '') {
              <b>{{ techDetails[project.id].name }}</b
              >, {{ techDetails[project.id].text }}
              } @else {
              {{ getTechDetails(project.techUsed[0].id, project.id) }}
              }
            </p>
          </div>
        </div>
        <div class="pf-content-project-core-actions">
          <button (click)="onGoBack()"><p>View other projects</p></button>
          <a [href]="project.websiteUrl"><p>Visit the website</p></a>
        </div>
      </div>
    </div>
    }
  </div>
</div>
